[submodule "third_party/quickjs-ffi"]
	path = third_party/quickjs-ffi
	url = https://github.com/DenisBelmondo/quickjs-ffi.git
	branch = cmake
[submodule "third_party/quickjs"]
	path = third_party/quickjs
	url = https://github.com/DenisBelmondo/quickjs.git
	branch = cmake
